snippet main "main = ..."
main :: IO ()
main = ${0:-- code}
endsnippet

snippet imp "import ..."
import $0
endsnippet

snippet func "func x = ..."
${1:func} :: ${2:(${3:Num a}) => }${4:a} -> ${5:a}
$1 ${6:x} = ${0:-- code}
endsnippet

snippet list "list = [...]"
${1:list} :: [${2:Char}]
$1 = [${0:code}]
endsnippet

snippet if "if ... then ... else ..."
if ${1:x} ${2:==} ${3:y}
	then ${4:-- code}
	else ${0:-- code}
endsnippet
